.calculator {
  border: 1px solid #ccc;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
}
.history {
  top: 27.5%;
  width: 100%;
  height: 72.5%;
  position: absolute;
  background-color: #221515e7;
  z-index: 10;
  display: none;
}
.showHistory {
  display: block;
}
.showHistoryButton {
  position: absolute;

  border: none;
  outline: none;
  margin: 5px;
  color: white;
  background-color: transparent;
}

.calculator-screen {
  width: 100%;
  font-size: 5rem;
  height: 80px;
  border: none;
  background-color: #000000;
  color: #fff;
  text-align: right;
  padding-right: 20px;
  padding-left: 10px;
}

.calculatorButton {
  height: 60px;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #c4c4c4;
  background-color: transparent;
  font-size: 2rem;
  color: #000;
  background-image: linear-gradient(
    to bottom,
    transparent,
    transparent 50%,
    rgba(0, 0, 0, 0.04)
  );
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05),
    inset 0 1px 0 0 rgba(255, 255, 255, 0.45),
    inset 0 -1px 0 0 rgba(255, 255, 255, 0.15),
    0 1px 0 0 rgba(255, 255, 255, 0.15);
  text-shadow: 0 1px rgba(255, 255, 255, 0.4);
}

.calculatorButton :hover {
  background-color: #ffa500;
}

.operator {
  color: #ef8614;
}

.allClear {
  background-color: #808080;
  border-color: #1f1f1f;
  color: #fff;
  grid-area: 3/4/3/4;
}

.allClear:hover {
  background-color: #383838;
}

.equalSign {
  background-color: #ef8614;
  border-color: #808080;
  color: #fff;
  height: 100%;
  grid-area: 4 / 4 / 6 / 5;
}

.equalSign:hover {
  background-color: #f89900;
}

.calculator-keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 20px;
}
.button1 {
  grid-area: 4/1/4/1;
}
.button2 {
  grid-area: 4/2/4/2;
}
.button3 {
  grid-area: 4/3/4/3;
}
.button4 {
  grid-area: 3/1/3/1;
}
.button5 {
  grid-area: 3/2/3/2;
}
.button6 {
  grid-area: 3/3/3/3;
}
.button7 {
  grid-area: 2/1/2/1;
}
.button8 {
  grid-area: 2/2/2/2;
}
.button9 {
  grid-area: 2/3/2/3;
}
.button9 {
  grid-area: 2/3/2/3;
}
.button0 {
  grid-area: 5/1/5/3;
}
.buttonDecimal {
  grid-area: 5/3/5/3;
}
.backButton {
  grid-area: 2/4/2/4;
}
